<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Notícia1</title>
</head>

<body>

	<h1>Notícia1</h1>
	<hr>
	<table>

		<tr>
			<td>ID</td>
			<td>Titulo</td>
			<td>Noticias</td>
		</tr>

		<tr>

			<!-- pegando uma so noticia -->
			<td>
				<%= noticia[0].id_noticia %>
			</td>
			<td>
				<%= noticia[0].titulo %>
			</td>
			<td>
				<%= noticia[0].noticia %>
			</td>
		</tr>
	</table>
</body>


</html>