<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1 style="color: #069;text-align: center">Bem vindo a página inicial</h1>
		<header  style="background: #ccc;height: 150px" id="header" class="" >

<h1 style="color:#069; text-align:center">
	Logo da Empresa s simmmmmm
</h1>
		</header><!-- /header -->

		<section style="height: 300px;background-color:  #339291">
			
		
			
		</section>

	</body>
</html>